body {
  background: $gray;
  font-family: "Roboto Slab", serif;
  color: #fff;
  padding: 36px 0;
  position: relative;
  h1,
  h2 {
    font-family: Steelfish;
  }
  h1 {
    color: $green;
    font-size: 54px;
  }
  h2 {
    color: $lime;
    font-size: 30px;
  }
  li {
    margin-bottom: 12px;
  }
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
